# Summarize experiment results

Mamie Wang 2020/06/22

In [2]:
import pandas as pd

In [1]:
binary_perf_path = "results/binary_angle_512.csv"
catepillar_perf_path = "results/catepillar_angle_512.csv"
h1n1_path = "results/H1N1_angle_288.csv"
h3n2_path = "results/H3N2_angle_565.csv"

In [30]:
def summarize_perf(paths):
    df = pd.DataFrame()
    for path in paths:
        perf_metrics = pd.read_csv(path)
        perf_metrics = perf_metrics.loc[:, ["method", "threshold", "runtime", "RF", "F1"]]
        has_threshold = (perf_metrics.threshold != 0) & (perf_metrics.threshold != "None")
        perf_metrics.loc[has_threshold,'method'] = perf_metrics.loc[has_threshold,'method'] + " (" + perf_metrics.loc[has_threshold,'threshold'].astype(str) + ")"
        perf_metrics = perf_metrics.loc[:, ["method", "runtime", "RF", "F1"]]
        df = df.append(perf_metrics)
    perf_summarized = df.groupby("method").agg(['mean', 'std']).round(2).sort_values([('F1', 'mean'), ("runtime", "mean")], ascending=[False, True])
    return df, perf_summarized

In [9]:
metrics, summarized = summarize_perf(binary_perf_path)
summarized

                    runtime          RF            F1
                       mean   std  mean    std   mean   std
method
RaXML                251.33  5.68   0.4   0.84  99.98  0.04
STR + RaXML (256.0)  225.39  8.26   2.8   4.83  99.86  0.24
SNJ                   46.19  0.78   4.2   3.19  99.79  0.16
STR + NJ (256.0)      27.97  0.74   7.0   3.43  99.66  0.17
NJ                    43.39  0.65  10.4   4.30  99.49  0.21
STR + SNJ (256.0)     31.26  0.41  16.2  27.85  99.21  1.36
STR + RaXML (64.0)   109.53  1.62  19.6  23.66  99.04  1.16
STR + SNJ (64.0)      25.13  0.53  20.2  13.05  99.01  0.64
STR + NJ (128.0)      25.06  0.50  20.4  40.33  99.00  1.97
STR + NJ (64.0)       24.43  0.60  22.6  23.31  98.89  1.14
STR + RaXML (128.0)  175.20  7.76  22.6  33.21  98.89  1.62
STR + SNJ (128.0)     26.55  0.54  24.4  29.07  98.81  1.42

In [4]:
metrics, summarized = summarize_perf(catepillar_perf_path)
summarized

                    runtime             RF              F1
                       mean    std    mean     std    mean   std
method
STR + RaXML (64.0)   102.20   1.41     0.0    0.00  100.00  0.00
STR + RaXML (128.0)  110.15   7.12     0.0    0.00  100.00  0.00
STR + SNJ (64.0)      30.35   0.28     2.0    2.11   99.90  0.10
STR + SNJ (128.0)     32.22   0.75     3.2    2.53   99.84  0.12
STR + SNJ (256.0)     45.09   3.26     6.4    3.75   99.69  0.18
SNJ                  305.36  45.89    10.4    6.45   99.49  0.32
STR + NJ (64.0)       29.44   0.32    82.6   34.06   95.96  1.67
STR + RaXML (256.0)  139.15  21.03   237.6  157.59   88.38  7.71
STR + NJ (128.0)      29.60   0.22   416.8   50.63   79.61  2.48
STR + NJ (256.0)      31.57   0.40   742.8   53.23   63.66  2.60
RaXML                194.91  57.84   840.6  101.37   58.87  4.96
NJ                    50.13   0.36  1003.4    8.59   50.91  0.42

In [4]:
metrics, summarized = summarize_perf(h1n1_path)
summarized

                  runtime            RF            F1
                     mean    std   mean    std   mean   std
method
RaXML              172.15   5.78   39.2   3.55  96.59  0.31
NJ                  15.26   0.30   63.8   9.95  94.44  0.87
STR + RaXML (128)   99.92  15.95   82.8  20.49  92.79  1.78
STR + NJ (128)      14.67   0.92  100.0  21.17  91.29  1.84
STR + RaXML (64)    45.75   4.31  117.8  50.07  89.74  4.36
STR + NJ (64)       14.53   0.61  119.4  25.49  89.60  2.22
STR + SNJ (64)      15.05   0.58  134.0  23.23  88.33  2.02
STR + RaXML (32)    26.98   1.30  135.2  42.53  88.22  3.70
STR + SNJ (128)     15.22   0.84  144.6  21.25  87.40  1.85
SNJ                 17.40   0.40  154.6  12.33  86.53  1.07
STR + NJ (32)       14.72   0.72  156.8  38.52  86.34  3.36
STR + SNJ (32)      14.77   0.86  162.8  36.05  85.82  3.14

In [5]:
metrics, summarized = summarize_perf(h3n2_path)
summarized

                  runtime            RF            F1
                     mean    std   mean    std   mean   std
method
RaXML              443.80  14.98  100.4  13.75  95.55  0.61
STR + RaXML (256)  286.27  20.84  129.0  18.89  94.28  0.84
STR + NJ (256)      53.86   1.39  156.8  25.30  93.05  1.12
STR + RaXML (128)  212.32  13.39  186.4  32.68  91.74  1.45
NJ                  72.36   1.06  192.0  18.06  91.49  0.80
STR + NJ (128)      55.04   2.30  225.6  30.45  90.00  1.35
STR + NJ (64)       54.76   1.05  228.8  30.14  89.86  1.34
STR + RaXML (64)   113.89   7.22  268.4  50.63  88.10  2.24
STR + SNJ (256)     56.87   2.28  286.4  31.20  87.30  1.38
STR + SNJ (128)     55.10   1.73  308.0  59.37  86.35  2.63
STR + SNJ (64)      56.45   2.77  322.6  33.32  85.70  1.48
SNJ                 74.80   1.14  339.2  15.61  84.96  0.69

# Binary trees of size 4096

In [26]:
NJ_perf_path = "results/binary_NJ_4096.csv"
STR_NJ_128_perf_path = "results/binary_STR_NJ_4096_128.csv"
STR_NJ_256_perf_path = "results/binary_STR_NJ_4096_256.csv"
RAXML_perf_path = "results/binary_RaXML_4096.csv"

In [27]:
metrics, summarized = summarize_perf([NJ_perf_path, STR_NJ_128_perf_path, 
                                      STR_NJ_256_perf_path, RAXML_perf_path])

         method       runtime   RF          F1
0            NJ  13464.267934  334   97.960928
0  STR+NJ (128)   1569.914639  354   97.838828
0  STR+NJ (256)   1493.677709  284   98.266178
0         RaXML   5554.937276    0  100.000000

/home/mw957/project/conda_envs/r_env/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [28]:
summarized

               runtime       RF          F1
                  mean std mean std    mean std
method
RaXML          5554.94 NaN    0 NaN  100.00 NaN
STR+NJ (256)   1493.68 NaN  284 NaN   98.27 NaN
NJ            13464.27 NaN  334 NaN   97.96 NaN
STR+NJ (128)   1569.91 NaN  354 NaN   97.84 NaN

To check the memory usage of the jobs on SLURM, first export the following setting to the environment:

```
export SACCT_FORMAT="JobID%20,JobName,User,Partition,NodeList,Elapsed,State,ExitCode,MaxRSS,AllocTRES%32"
```

and then use the commend:

```
sacct -j <jobid>
```

The memory usage for NJ, STR+NJ 128, STR+NJ 256 are respectively 2.56 G, 1.52 G and 2.46 G.

## Birth-death tree of size 4096

In [32]:
#NJ_perf_path = "results/binary_NJ_4096.csv"
STR_NJ_128_perf_path = "results/birth_death_STR_NJ_4096_128.csv"
STR_NJ_256_perf_path = "results/birth_death_STR_NJ_4096_256.csv"
RAXML_perf_path = "results/birth_death_RaXML.csv"

In [33]:
metrics, summarized = summarize_perf([STR_NJ_128_perf_path, 
                                      STR_NJ_256_perf_path, RAXML_perf_path])

/home/mw957/project/conda_envs/r_env/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [34]:
summarized

              runtime        RF         F1
                 mean std  mean std   mean std
method
RaXML         4216.15 NaN   746 NaN  95.45 NaN
STR+NJ (128)  1603.05 NaN  1960 NaN  88.03 NaN
STR+NJ (256)  1599.47 NaN  2442 NaN  85.09 NaN